
<!DOCTYPE html>
<html>
  <head>
    <title>RKyve</title>
    <script src="jam/require.js" type="text/javascript" charset="utf-8"></script>
    <script src="app.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/jam/bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/jam/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand">RKyve</a>
        </div>
      </div>
    </div><!-- end nav bar -->
    <div class="container-fluid">
      <div class="alert alert-info">Processing...<img src="/ajax.gif" /></div>
      <div class="alert alert-error" style="display: none;">Something went wrong.</div>
    </div>
    <div class="container-fluid">
      <div id="all_books" class="page row">
        <span class="span12">
          <table class="table-bordered table-striped table">
            <thead><th>Title</th><th>Owner</th><th>Location</th><th>Borrower</th></thead>
            <tbody></tbody>
          </table>
        </span>
      </div><!--end all books -->
      <hr />
      <div class="row">
        <span class="span4">
          <h3>Add a Book</h3>
          <p>All fields are required</p>
          <div id="add_book" class="page">
            <form>
              <div>
                <label for="bookTitle">Title</label>
                <input type="text" id="bookTitle" />
              </div>
              <div>
                <label for="bookOwner">Owner</label>
                <input type="text" id="bookOwner" />
              </div>
              <div>
                <label for="bookLocation">Location</label>
                <input type="text" id="bookLocation" />
              </div>
              <div>
                <label for="bookAuthor">Author</label>
                <input type="text" id="bookAuthor" />
              </div>
              <input type="submit" value="Add Book" />
            </form>
          </div>
        </span>
        <span class="span4">
          <h3>Detailed View</h3>
          <div id="detailed_view" class="page">Select a book from above to view in more detail here</div>
        </span>
        <span class="span4">
          <h3>Search</h3>
          <div id="search_view" class="page">
            <form>
              <input type="text" id="search_for" />
              <select id="search_by">
                <option name="author">Author</option>
                <option name="title" selected>Title</option>
                <option name="owner">Owner</option>
                <option name="tag">Tag</option>
              </select>
              <input type="submit" name="Search" value="Search"/>
            </form>

            <h3>Results</h3>
            <table class="table table-condensed">
              <thead><th>Title</th><th>Owner</th></thead>
              <tbody></tbody>
            </table>
          </div>
      </div><!-- end row -->
    </div>
    <script id="single_book_template" type="text/template">
        <td><a href="#<%=id %>" class="viewIndividualButton"><%= title %></a></td>
        <td><%= owner %></td>
        <td><%= location %></td>
        <td>
          <% if(borrower !== null) { %>
            <%= borrower %></td>
          <% } else { %>
            Free
          <% } %>
        </td>
    </script>

    <script id="detailed_single_book_template" type="text/template">
      <h2><%= title %></h2>
      <div id="meta"><p><%= owner %> :: <%= location %></div>
      <% if(borrower !== null) { %>
        <span id="book_taken" class="alert alert-error">TAKEN</span>
      <% } else { %>
        <span id="book_free" class="alert alert-success">AVAILABLE</span>
      <% } %>
      <div style="margin-top: 20px; ">
        <p><a href="#<%= id %>" class="checkOutBookButton">Check Out</a> :: <a href="#<%= id %>" class="checkInBookButton">Check In</a></p>
      </div>
      <p>Tags: <%= (tags != null) ? tags : 'None' %></p>
      <p>Author: <%= author %></p>
    </script>

    <script id="search_result_template" type="text/template">
      <td><a href="#<%= id %>" class="viewIndividualButton"><%= title %></a></td><td><%= owner %></td>
    </script>
  </body>
</html>
