
<!DOCTYPE html>
<html>
  <head>
    <title>RKyve</title>
    <script src="jam/require.js" type="text/javascript" charset="utf-8"></script>
    <script src="app.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <ul id="nav">
      <li><a href="#" id="viewBooksButton">View all Books</a></li>
      <li><a href="#" id="addBookButton">Add Book</a></li>
    </ul>
    <div id="all_books" class="page">
      <ul></ul>
    </div>
    <div id="add_book" class="page">
      <form>
        <div>
          <label for="bookTitle">Title</label>
          <input type="text" id="bookTitle" />
        </div>
        <div>
          <label for="bookOwner">Owner</label>
          <input type="text" id="bookOwner" />
        </div>
        <div>
          <label for="bookLocation">Location</label>
          <input type="text" id="bookLocation" />
        </div>
        <input type="submit" />
      </form>
    </div>

    <div id="checkout_book" class="page">
      <form id="checkout_book_form">
        <div>
          <label>Your Name: </label>
          <input type="text" name="borrower" id="borrower" />
        </div>
        <input type="submit" value="Check Out!" />
      </form>
    </div>

    <script id="single_book_template" type="text/template">
      <div>
        <h2>Title: <%= title %></h2>
        <p>Owner: <%= owner %></p>
        <p>Location: <%= location %></p>
        <% if(borrower !== null) { %>
          <p>Borrower: <%= borrower %></p>
        <% } %>
        <p>
          <% if(borrower === null) { %>
            <a href="#<%= id %>" class="checkOutBookButton">Check Out</a>
          <% } else { %>
            <a href="#<%= id %>" class="checkInBookButton">Check In</a>
          <% } %>
        </p>
      </div>
    </script>
  </body>
</html>
