* { margin: 0; padding: 0; }

li div {
  margin-left: 10px;
  border-left: 1px solid #111;
  padding: 10px;
}

#nav {
  list-style: none;
  margin-bottom: 20px;
  font-size: 20px;
}
#nav li {
  display: inline-block;
}

.page {
	display: none;
}

#all_books {
	display: block;
}

label {
	display: inline-block;
	width: 200px;
}

input[type=text] {
	width: 200px;
}
