* { margin: 0; padding: 0; }

li div {
  margin-left: 10px;
  border-left: 1px solid #111;
  padding: 10px;
}

#nav {
  list-style: none;
  margin-bottom: 20px;
  font-size: 20px;
}
#nav li {
  display: inline-block;
}

.page {
	display: none;
}

#all_books {
	display: block;
}

label {
	display: inline-block;
	width: 200px;
}

input[type=text] {
	width: 200px;
}

tr {
  border-left: 1px solid #C1DAD7;
}

td, th {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
}
th { font-weight: bold; }


